h1 {
    color: #232320;
    text-align: left;
}
p {
    font-size: 1.5rem;
    text-align: left;

}
.PavanPhoto {
    width: 50%;
    margin-bottom: 20%;
}
.PavanPhoto img {
    width: 80%;
}
.AboutText {
    width: 50%;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 60%;
}
.AboutContainer {
width: 100%;
display: flex;
justify-content: space-evenly;
margin-bottom: 20%;
}