ul {
  width: 96%;
  margin: 0 auto;
  padding-top: 2rem;
}
ul li {
  list-style-type: none;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
}
ul li a {
  text-decoration: none;
  color: #232320;
  margin-right: 1.5rem;
  text-align: center;
}
ul li a:hover {
  color: #ffc4ff;
}
